<footer>
    <div class="container">
        <span class="pull-left">Copyright © 2017 Çevir.NET - Garage Istanbul Markasıdır.</span>
        <ul class="horizontal pull-right socialIcons">
            <li><a href="javascript:"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="javascript:"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="javascript:"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>